# See https://www.dartlang.org/guides/libraries/private-files

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Pub & Dart
.dart_tool/
.packages
.pub-cache/
.pub/
# pubspec.lock 

# Dart Frog
**/build/
**/bin
*/bin
/bin
.dart_frog/

# IDEs & Editor
.vscode/
.idea/
*.swp
*.lock
.history/

# Logs e Temporários
*.log
tmp/

# Test
coverage/

# Local SQLite files
data/
*.db
